@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-box {
    background-color: white;
    color: black;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
  }
  .skill-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .skill-content.show {
    opacity: 1;
    transform: translateY(0);
  }
  .skill-content.final {
    opacity: 1;
    transform: translateY(0);
  }    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }